.account-summary {
  text-align: left;
  margin-bottom: 20px;
  display: flex;
  .account_group{
    display: flex;
    width: 100%;
  }
}

.follower-suggestions {
  background: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 3px;
}