.insta-post{
  
}
.post-details{
  background: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  .post-actions{
    margin-bottom: 20px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    margin-top: 20px;
    .icon {
      margin-right: 10px;
      color: #ddd;
      cursor: pointer;
    }
    .icon:hover{
      color: #999;
    }
    .active {
      color: #ff0000;
    }
  }
  .comment-box{
    padding: 15px;
    background: #fff;
    border: 1px solid #ddd;
  }
  .post-comment:focus{
    box-shadow: none !important;
  }
}

.post-meta{
  background: #fff;
  text-align: left;
  font-weight: bold;
  padding: 5px;
  border: 1px solid #ddd;
}
.post-details{
  background: #fff;
  padding: 15px;
  border: 1px solid #ddd;
}
.img{
  width: 100%;
}

.comments-feed{
  height: 200px;
  overflow: scroll;
}


