body{
  background: #fafafa !important;
}

.profile-container{
  margin-bottom: 20px;
  .btn-custom{
    background: transparent;
    border: 2px solid #ddd;
    border-radius: 4px;
  }
  .btn-custom:hover{
    background: #ddd;
  }
  .profile-stats-group{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 360px;
    .profile-stats{
      width: 120px;
    }   
  }
}

.posts{
  margin-top: 100px;
}

.post-square{
  width: 290px;
  height: 290px;
  overflow: hidden;
  background-size: cover !important;
}

.post-stats{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  text-align: center;
  color: #fff;
  display: none;
  .inner{
    padding-top: 45%;
  }
}

.insta-post:hover{
  .post-stats{
    display: block;
  }
}
.m-l-15 {
  margin-left: 15px;
}