

.profile-container{
  margin-bottom: 20px;
  .profile-stats-group {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    .profile-stats {
      width: 120px;
    }   
  }
}
